.banner-area{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-banner h2{
    font-size: 55px;
    text-transform: uppercase;
}
.text-banner p{
    font-size: 20px;
    color: #555;
    line-height: 1.5;
}
.text-banner span{
    color: #FF3142;
}
.btn{
    outline: none;
    background: none;
    border: 1px solid #FF3142;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-black{
    border: 1px solid #222;
}
.img-banner img{
    width: 600px;
    height: 600px;
}