.about-area{
    margin-top: 60px;
}
.about-area h1{
    color: #222;
    text-align: center;
    border-bottom: 1px solid #333;
    padding-bottom: 18px;
    text-transform: uppercase;
}
.about-content p{
    font-size: 18px;
    color: #333;
    line-height: 2.0;
}