.blog-area{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.medium-blog{
    padding: 30px;
}
.medium-blog h2{
    text-transform: uppercase;
    font-size: 18px;
}
.medium-blog p{
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}